.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 2em;
}

#svgBg {
  position:absolute;
  z-index: -1;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
  height: 100%;
  width: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: rgb(32, 32, 32);
  display: grid;
  align-items: center;
  margin: 2em;
}

#pcSvg {
  max-width: 100%;
}



/* inspired by Manuel Pinto's -> https://codepen.io/P1N2O/pen/pyBNzX */