.App {
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
  padding: 2em;
}

#svgBg {
  position:absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: rgb(32, 32, 32);
  display: grid;
  align-items: center;
  margin: 2em;
}

.pc_wrapper {
  position: relative;
  min-height: 351px;
  max-width: 354px;
  margin-inline: auto;
}

.quote-block {
  position: absolute;
  width: calc(100% - 8rem);
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
  z-index: 5;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: monospace;
  color: rgb(47, 224, 12);
  text-align: left;
}

@media screen and (max-width: 500px) {
  .quote-block {
    font-size: .9rem;
    height: calc(50px + 20vw);
    width: calc(100% - 30vw);
  }
}

.quote-text {
  overflow-y: auto;
}

.quote-author {
  color: #fff;
  justify-self: end;
  align-self: end;
}

#pcSvg {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pc_wrapper button {
  position: absolute;
  z-index: 5;
  bottom: 7%;
  right: 6%;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: #b12e2e;
  color: #fff;
}

@media (max-width: 420px) {
  .pc_wrapper button {
    bottom: calc(calc(50vw  / 2) + 10px)
  }
}



/* inspired by Manuel Pinto's -> https://codepen.io/P1N2O/pen/pyBNzX */